{% extends 'pedidos/base_pedidos.html' %}

{% load static %}

{% block content %}

<style>
    .content-box {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      margin-top:10%;
      background-color: #f0f0f0;
      align-content: center;
      margin-left: 20%;
    }
    .login-box,.limiter,.container-login100,.wrap-login100{
      display: flex;
    }
    .wrap-login100{
      font-size: 20px%;
    }
</style>

<div class="content-box">
  <div class="login-box">
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          
          <form class="login100-form validate-form" method="POST" action="{% url 'login' %}">
              {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Su <strong>nombre de usuario</strong> y <strong>password</strong> no concuerda
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endif %}
            <span class="login100-form-title p-b-43">
              Registrese para continuar
            </span>
            
            <div class="wrap-input100 validate-input" data-validate = "Valid username is required">
              <input class="input100" type="text" name="username" id="id_username">
              <span class="focus-input100"></span>
              <span class="label-input100">Nombre de Usuario</span>
            </div>
            
            
            <div class="wrap-input100 validate-input" data-validate="Password is required">
              <input class="input100" type="password" name="password" au>
              <span class="focus-input100"></span>
              <span class="label-input100">Clave</span>
            </div>

            <input type="hidden" name="next" value="{{ next }}">

            <div class="flex-sb-m w-full p-t-3 p-b-32">
              <div class="contact100-form-checkbox">
                <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                <label class="label-checkbox100" for="ckb1">
                  Recordarme
                </label>
              </div>

              <div>
                <a href="#" class="txt1">
                  Olvidó la Clave?
                </a>
              </div>
            </div>
        

            <div class="container-login100-form-btn">
              <button type="submit" class="login100-form-btn">
                Ingreso
              </button>
            </div>
            
            <div class="text-center p-t-46 p-b-20">
              <span class="txt2">
                o registrarse usando
              </span>
            </div>

            <div class="login100-form-social flex-c-m">
              <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
                <i class="fa fa-facebook-f" aria-hidden="true"></i>
              </a>

              <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </div>
          </form>

          <div class="login100-more" style="background-image: url({% static 'accounts/images/bg-01.jpg' %});">
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>

{% endblock content %}