<!DOCTYPE html>
<html lang='es'>
{% extends "pedidos/base_pedidos.html" %}
{% load crispy_forms_tags %}	
{% block javascript %}
  <script>
    $("#id_identificacion").change(function () {
      var id = 0;
      $.ajax({
		url: "{% url 'pedidos:validar_tercero' %}",  
        id
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert("El tercero ya fué creado.");
          }
        }
      });
    });
  </script>
{% endblock %}
{% block content %}
<head>
	<meta charset='UTF-8'>
	<h2>Información Paciente</h2>
</head>
<body>
  <form method="post">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.identificacion|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.tipoidentificacion|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2 mb-0">
        {{ form.nombre1|as_crispy_field }}
      </div>
      <div class="form-group col-md-2 mb-0">
        {{ form.nombre2|as_crispy_field }}
      </div> 
      <div class="form-group col-md-2 mb-0">
        {{ form.apel1|as_crispy_field }}
      </div> 
      <div class="form-group col-md-2 mb-0">
        {{ form.apel2|as_crispy_field }}
      </div>   
    </div>  
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">    
        {{ form.fecha_nacimiento|as_crispy_field }}
      </div>
      {% comment %} <div class="form-group col-md-6 mb-0">    
        {{ form.edad|as_crispy_field }}
      </div> {% endcomment %}
        {% comment %} <div class="form-group col-md-6 mb-0">
          {{ form.pais|as_crispy_field }}
        </div> {% endcomment %}
        {% comment %} <div class="form-group col-md-4 mb-0">
          {{ form.departamento|as_crispy_field }}
        </div> {% endcomment %}
        <div class="form-group col-md-2 mb-0">
          {{ form.ciudad|as_crispy_field }}
        </div>
        {% comment %} <div class="form-group col-md-2 mb-0">
          {{ form.ciudad_direccion|as_crispy_field }}
        </div> {% endcomment %}
    </div>
    {% comment %}     <div class="form-row"> {% endcomment %}
      {% comment %} <div class="form-group col-md-2 mb-0">
        {{ form.direccion|as_crispy_field }}
      </div>
      <div class="form-group col-md-2 mb-0">  
        {{ form.telefono|as_crispy_field }}
      </div> {% endcomment %}  
    {% comment %} </div> {% endcomment %}
    {% comment %} <div class="form-group col-md-2 mb-0">  	
	    {{ form.nacionalidad|as_crispy_field }}
    </div> {% endcomment %}
    <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          {{ form.eps|as_crispy_field }}
        </div>
      <div class="form-group col-md-2 mb-0">
          {{ form.plan_salud|as_crispy_field }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
{% endblock %}
</body>
</html>