asgiref==3.2.3
beautifulsoup4==4.8.2
bleach==3.1.0
certifi==2019.11.28
chardet==3.0.4
defusedxml==0.6.0
diff-match-patch==20181111
dj-database-url==0.5.0
Django==3.0.2
django-authtools==1.7.0
django-braces==1.14.0
django-ckeditor==5.9.0
django-contrib-comments==1.9.2
django-cors-headers==3.2.1
django-crispy-forms==1.8.1
django-filter==2.2.0
django-import-export==2.0.1
django-js-asset==1.2.2
django-menu-generator==1.0.4
django-modeltranslation==0.14.1
django-tables2==2.2.1
django-taggit==1.2.0
django-tempus-dominus==5.1.2.13
easy-thumbnails==2.7
et-xmlfile==1.0.1
filebrowser-safe==0.5.0
future==0.18.2
grappelli-safe==0.5.2
gunicorn==20.0.4
idna==2.8
jdcal==1.4.1
MarkupPy==1.14
mezzanine==4.3.1
numpy==1.17.4
oauthlib==3.1.0
odfpy==1.4.1
openpyxl==3.0.3
Pillow==6.2.1
psycopg2==2.7
python-dateutil==2.8.1
python-decouple==3.3
pytz==2019.3
PyYAML==5.3
requests==2.22.0
requests-oauthlib==1.3.0
six==1.13.0
soupsieve==1.9.5
sqlparse==0.3.0
tablib==0.14.0
tzlocal==2.0.0
urllib3==1.25.7
virtualenv==16.7.8
webencodings==0.5.1
whitenoise==5.0.1
wxPython==4.0.7.post2
xlrd==1.2.0
xlwt==1.3.0
